# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
.venv/

# ========================
# Editor / IDE
# ========================
.vscode/

# ========================
# Temporary runtime files
# ========================
temp/

# ========================
# PyInstaller
# ========================
build/
dist/

# ========================
# External tools (large binaries)
# ========================
tools/ffmpeg/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db
